<!DOCTYPE html>
<html ng-app='Home'>
    <head>
        <meta charset="utf-8">
        <title>George J. Fu - The J is for because my middle name starts with the letter J</title>
        <link rel="shortcut icon" href="/y/yakk.ico">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script src='External/scripts/jquery.js'></script>
        <script src='External/scripts/angular.js'></script>

        <script src='Internal/index.js'></script>
        <link href="Internal/styles/bootstrap3.min.css" rel="stylesheet">
        <link href="Internal/index.css" rel="stylesheet">
    </head>
    <body class='container' ng-controller='IndexController'>
        <div class='resume row'>
            <div class='resume-container col-xs-12'>
                <div class='pointer {{ pointer.cat }} depth{{ pointer.depth }}' ng-repeat='pointer in pointers'>
                    <div class='topic-wrapper {{ pointer.cat }} depth{{ pointer.depth }}'
                         ng-repeat='(k, v) in pointer'
                         ng-if='metadata.indexOf(k) === -1'>
                        <div class='topic {{ pointer.cat }} depth{{ pointer.depth }}'
                             ng-click='navigate(pointer, v)'
                             ng-class='{selected: pointers[v.depth] === v}'>
                            {{ k }}
                        </div>
                        <br ng-if='pointer.cat == "main"'/>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
