<div class='row'>
    <div class='text-left journal col-lg-6'>
        <h6>April 27th, 2015</h6>
        <h5>Wisdom Goes</h5>
        <p>
            So I reviewed my "computer science", pointers, references, templates, and algorithms. I did it in C#
            and when that wasn't obtuse enough I did it in (GCC) C++, for a while it was great. Then I had too much to do
            and set it aside. My respect for the field grows steadily.
        </p>
        <h6>July 15th, 2014</h6>
        <h5>As I once was</h5>
        <p>
            I studied mathematics in college at an age when I had an urge to be book-smart. The last few years
            has seen that urge all but die out, as I joined the workforce as a code monkey.
        </p>
        <p>
            I feel it returning. In practice the code only needs to work correctly, but I have a desire
            to write it in a way that makes it agile to change, decoupled, elastic, readable, and maintainable.
            And instructive. And I want to be able to do this quickly and efficiently.
        </p>
        <p>
            Thus I have somehow gotten it in my head that I must review some core CS, namely the topics of
            data structures and algorithms.
        </p>
        <h6>January 28th, 2014</h6>
        <h5>Maker of Websites</h5>
        <p>
            I made a personal website, because as, ostensibly, a professional <em>web site maker</em>, I
            really ought to have had one the whole time, I suppose.
            I got really sidetracked making a baseball game in javascript. I like baseball.
        </p>
        <p>
            You can't eat a baseball like you can a eat wheel of cheese. You can't eat it at all, really. So I'm back to coding.
            I am a web developer. No no, I am a programmer, right? Maybe I'm not even a programmer and I simply
            enjoy arriving at the solution to a problem that made me think. It is a luxury to have interesting problems.
        </p>
    </div>
    <div class='text-left journal col-lg-6'>
        <h4>About this page</h4>
        <p>
            I am not a graphic designer though I wish I were. That may be why this page looks like a gulag.
            I like the color blue, and green.
            I may add some green later. I'm considering it.
        </p>
        <p>
            You are on a small EC2 instance in the middle of nowhere. It has probably been hacked but this isn't a Wordpress
            install so they couldn't find where to put the shoe ads.
        </p>
        <p>
            It could also be that I am aesthetically challenged and simply <em>like</em> this kind of page design.
        </p>
    </div>
    <div class='text-left pull-right journal col-lg-6'>
        <h4>About the author</h4>
        <p>
            I am a simple web developer.
        </p>
        <p>
            I studied mathematics and economics in school, though have now developed an interest in computer science.
            It was a careless time. I could figure out how to integrate a function on the imaginary plane, but not
            how to relax a little.
        </p>
        <div class='row baseball'>
            <div class='col-lg-12'>
                <p>You see a field over yonder.</p>
                <div class='row'>
                    <div class='col-lg-12'>
                        <a href='/y'>Play Baseball</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>