.parallelolol {
    -webkit-transform: skew(-9deg);
    -moz-transform: skew(-9deg);
    -o-transform: skew(-9deg);
}
* {
    transition: all 0.25s ease;
}
.resume-container {
    margin: 20px 0;
    padding: 10px 20px;

    .terminal {
        border-bottom-width: 2px;
    }
    .php {
        background: mediumpurple;
        color: white;
    }
    .js {
        background: green;
        color: #ffff00;
    }
    .pointer {
        display: block;
        &.depth0 {
        }
        &.depth1 {
            margin-left: 3em;
        }
        &.depth2 {
            margin-left: 6em;
        }
        &.depth3 {
            margin-left: 8em;
        }
        &.depth4 {
            margin-left: 10em;
        }
    }
    .topic-wrapper {
        display: inline-block;
        &.depth0 {
            display: block;
        }
        &.depth1 {
        }
        &.depth2 {
        }
    }
    .topic {
        .button;
        border: 1px solid grey;
        display: inline-block;
        .parallelolol;
        width: auto;
        text-align: center;
        font-size: 16px;

        margin: 4px 4px;
        padding: 0 4px;
        line-height: 1.4em;
        height: 1.4em;
        &.selected {
            background: #767676;
            color: #ffffff;
            border-left-width: 2px;
            border-right-width: 2px;
            margin: 5px 5px;
            padding: 0 10px;
            line-height: 2em;
            height: 2em;
        }
        &.terminal {
            .terminal;
        }
        &.depth0 {
            margin: 5px 5px;
            padding: 0 10px;
            line-height: 2em;
            height: 2em;
        }
        &.depth1 {
        }
        &.depth2 {
        }
        &.depth3 {
        }
        &.depth4 {
        }
    }
}