.parallelolol {
    -webkit-transform: skew(-9deg);
    -moz-transform: skew(-9deg);
    -o-transform: skew(-9deg);
}
.resume-container {
    margin: 20px 0;
    padding: 10px 20px;
    .php {
        background: mediumpurple;
        color: white;
    }
    .js {
        background: green;
        color: #ffff00;
    }
    .pointer {
        display: block;
        &.depth0 {
        }
        &.depth1 {
            margin-left: 3em;
        }
        &.depth2 {
            margin-left: 6em;
        }
        &.depth3 {
            margin-left: 8em;
        }
        &.depth4 {
            margin-left: 10em;
        }
    }
    .topic-wrapper {
        display: inline-block;
        &.depth0 {
            display: block;
        }
        &.depth1 {
        }
        &.depth2 {
        }
    }
    .topic {
        .button;
        margin: 5px 5px;
        border: 1px solid grey;
        display: inline-block;
        .parallelolol;
        height: 2em;
        width: auto;
        padding: 0 10px;
        text-align: center;
        font-size: 16px;
        line-height: 2em;
        &.selected {
            border-left-width: 4px;
            border-right-width: 4px;
        }
        &.depth0 {

        }
        &.depth1 {

        }
        &.depth2 {

        }
    }
}