/**
    !!Fonts
*/

@titleFontSize: 50px;
@subtitleFontSize: 32px;

@bodyFontSize: 16px;
@bodyLargeFontSize: 20px;

@import url(http://fonts.googleapis.com/css?family=Sintony);
@import url(http://fonts.googleapis.com/css?family=Text+Me+One);
@import url("http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&subset=latin,cyrillic");
@import url("http://fonts.googleapis.com/css?family=PT+Sans&subset=latin,cyrillic");
@import url('http://fonts.googleapis.com/css?family=Roboto:100,400,700,500,600,200,300');

.textme{
    font-family: "Text Me One";
    font-weight: 100 !important;
}
.sintony {
    font-family: "Sintony";
}
.roboto-important {
    font-family: 'Roboto', sans-serif !important;
}
.bold {
    font-weight: 500;
}
.strong {
    font-weight: 400;
}
.roboto {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    strong {
        font-weight: 400;
    }
    b {
        font-weight: 500;
    }
}

.title-font {
    .roboto;
}
.primary-font {
    .roboto;
}

body{
    .primary-font;
}

.font {
    .h1 {
        font-size: 32px;
    }
    .h2 {

    }
    .h3 {

    }
    .h4 {

    }
    .h5 {

    }
    .h6 {

    }
    .body {
        font-size: 11px;
    }
}
h1{
    font-size:45px;
    .title-font;
}
h2{
    font-size:36px;
    .title-font;
}